In [4]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt

In [258]:
Store = 160
w = ['Monday', 'Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday'] 
data = pd.read_csv('Store'+str(Store)+'\Store'+str(Store)+'_order_15-min-cluster_20180103-20190711.csv',index_col=0)
data['BusinessDate'] = pd.to_datetime(data['BusinessDate'])
#Specify Date-Time Variable Types
date_time = ['OrderStartDateTime','NormalDateTime','BumpedDateTime','CookingDateTime','DayHalfHour','DayQuarterHour','OrderTimeMin']
for i in date_time:
    data.loc[:,i] = pd.to_datetime(data.loc[:,i], format="%Y-%m-%d %H:%M:%S.%f") 
data.head()

,StoreKey,BusinessDate,TimeKey,CheckNum,GuestCount,TableOpenMinutes,ProductKey,CourseName,IXIName,MajorCodeName,...,BumpedDateTime_fill,OnSiteOrder_fill,OffSiteOrder_fill,OnSiteItem_fill,OffSiteItem_fill,OnSiteGuest,OffSsiteItem,Class,ItemPerGuest,OrderTime
94595,160,2019-07-11,94,700,4,87.0,7771,ENTREES,Lem-Herb Roasted Chicken,SPECIAL/SOUP/SIDES,...,2019-07-11 23:43:57,2.0,0.0,3.0,0.0,0.0,0.0,7,1.0,1377
94619,160,2019-07-11,94,702,2,52.0,21829,ENTREES,Mushroom Burger,SPECIAL/SOUP/SIDES,...,2019-07-11 23:34:56,1.0,0.0,1.0,0.0,0.0,0.0,7,1.0,1196
82150,160,2019-07-11,92,693,1,50.0,7512,ENTREES,Fettucini Alfredo Chkn,PASTAS,...,2019-07-11 23:09:31,1.0,0.0,3.0,0.0,60.0,0.0,7,2.0,691
94092,160,2019-07-11,92,669,3,83.0,7252,ENTREES,Caesar Salad,SALADS,...,2019-07-11 23:05:02.000,2.0,6.0,2.0,7.0,59.0,7.0,7,1.0,902
94197,160,2019-07-11,91,675,3,63.0,24984,ENTREES,Carne Asada Stk Medallion,STEAKS/CHOPS,...,2019-07-11 22:53:36,8.0,4.0,16.0,8.0,59.0,8.0,7,1.0,1176

In [243]:
labor = pd.read_csv('Store'+str(Store)+'\Store'+str(Store)+'_employee_punch_20180103-20190711.csv')
labor['BusinessDate'] = pd.to_datetime(labor['BusinessDate'])
datetime = ['ScheduleStart','ScheduleEnd','ActualStart','ActualEnd']
for i in datetime:
    labor[i] = pd.to_datetime(labor[i])
labor['LocationName'] = labor['LocationName'].str.lower()
labor.head()

,BusinessDate,StoreKey,EmployeeNum,ScheduleStart,ScheduleEnd,ActualStart,ActualEnd,ShiftName,JobName,LaborCategoryName,LocationName
0,2018-01-10,160,31030821,2018-01-10 16:55:00,2018-01-11 00:00:00,2018-01-10 17:22:00,2018-01-11 01:39:00,Dinner,Bartender (tip credit wage),Bar,barcw1
1,2018-01-10,160,31490241,2018-01-10 16:45:00,2018-01-10 23:00:00,2018-01-10 16:51:00,2018-01-11 00:51:00,Dinner,Server (tip credit wage),Server,.din 02
2,2018-01-10,160,31490330,2018-01-10 10:00:00,2018-01-10 17:15:00,2018-01-10 10:15:00,2018-01-10 18:28:00,Lunch,Bartender (tip credit wage),Bar,barcw1
3,2018-01-10,160,31490330,2018-01-10 10:00:00,2018-01-10 17:15:00,2018-01-10 11:02:00,2018-01-10 18:28:00,Lunch,Bartender (tip credit wage),Bar,barcw1
4,2018-01-10,160,149048,2018-01-10 09:30:00,2018-01-10 16:00:00,2018-01-10 07:58:00,2018-01-10 16:11:00,Lunch,Line Cook1,Cook,sautest

In [244]:
Station = pd.Series(data['StationName'].unique()).str.lower()
s_clean = [i.replace('broiler', 'broil') for i in Station]
s_clean = [i.replace('sandwich', 'sand') for i in s_clean]
s_clean = [i.replace('apps', 'app') for i in s_clean]
s_sort = [i for i in s_clean if (' / ' not in i)] + [i for i in s_clean if (' / ' in i)]

labor['AtStation'] = None
labor['Station'] = None
labor_st = []
for i in s_sort:
    name = 'Labor_'+str(i)
    labor_st.append(name)
    if ' / ' not in i: 
        labor['Station'] = np.where(labor['LocationName'].str.contains(i),i,labor['Station'])
        labor['AtStation'] = np.where(labor['LocationName'].str.contains(i),1,labor['AtStation'])
    elif ' / ' in i: #if combo station, must contain key words from both station 
        i1,i2  = i.split(' / ')
        print(i1,i2)
        labor['Station'] = np.where(((labor['LocationName'].str.contains(i1))|(labor['LocationName'].str.contains(i2)))&(pd.isnull(labor['AtStation'])),i,labor['Station'])
        labor['AtStation'] = np.where(((labor['LocationName'].str.contains(i1))|(labor['LocationName'].str.contains(i2)))&(pd.isnull(labor['AtStation'])),1,labor['AtStation'])

broil app
pasta saute
grill fry

In [245]:
station_location = {}
for i in s_sort: 
    station_location[i] = labor[labor['Station']==i]['LocationName'].unique()
station_location

{'saute': array(['sautest', 'sautepl', 'sautefl', 'sautemd'], dtype=object),
 'salad': array(['saladst', 'saladpr', 'saladfn', 'saladmd'], dtype=object),
 'fry': array(['fryck', 'frypl'], dtype=object),
 'pizza': array(['pizzast', 'pizzafn'], dtype=object),
 'sand': array([], dtype=object),
 'broil / app': array(['broilck', 'broilpl'], dtype=object),
 'pasta / saute': array(['pastast', 'pastapl'], dtype=object),
 'grill / fry': array(['grillck', 'grillpl'], dtype=object)}

In [225]:
#Uncategorized Location
list(labor[pd.isnull(labor['AtStation'])]['LocationName'].unique())

['barcw1',
 '.din 02',
 'busd05',
 '.din 14',
 'slicer',
 '.din 13',
 'strbake',
 '.din 16',
 '.din 04',
 'upfdrn1',
 'bar 01',
 'prodrl',
 '.din 10',
 'steward',
 '.din 09',
 'scraping',
 'pprepcr',
 '.din 06',
 'portion',
 'fill1',
 'busd01',
 'bar 04',
 'napkin1',
 'oven',
 'potwash',
 'train bake',
 'cash1',
 'crbcsh1',
 'dessert 1',
 'greet1',
 'racking',
 'cleansd',
 'busd04',
 'sauceck',
 'bar 02',
 '.din 15',
 'barcw2',
 'busd03',
 '.din 07',
 'fdrun4',
 'train bar',
 'fdrun3',
 'dsfloat',
 'carts',
 '.din 08',
 '.din 03',
 'dessert 2',
 '.din 11',
 '.din 05',
 '.din 17',
 'bar 03',
 '.din 12',
 'dskrun2',
 'cash2',
 'barmw1',
 'crowd1',
 'fdrun2',
 'fdrun5',
 'dskrun1',
 'kitchfl',
 'train bus',
 'strbar',
 'train cook',
 'busd02',
 'ost',
 'no_location',
 'upcrwd1',
 'pat 02',
 'dt',
 'tg-run1',
 'bsrncpt',
 'pat 01',
 'pat 03',
 'train fd',
 'plater',
 'train server',
 'fdrun1',
 'tg-cash1',
 'busb05',
 'dessert 3',
 'train dish',
 'train steward',
 'pprepfl',
 'sb 1',
 'upcash1',
 'tg-cash2',
 'train prep',
 'dt dish',
 'barcw3',
 'dskrun3',
 'gctbl1',
 'expo1',
 'busb04']

In [226]:
labor = labor.dropna(subset=['Station'])

In [227]:
labor.sort_values(by='BusinessDate')

,BusinessDate,StoreKey,EmployeeNum,ScheduleStart,ScheduleEnd,ActualStart,ActualEnd,ShiftName,JobName,LaborCategoryName,LocationName,AtStation,Station
4,2018-01-10,160,149048,2018-01-10 09:30:00,2018-01-10 16:00:00,2018-01-10 07:58:00,2018-01-10 16:11:00,Lunch,Line Cook1,Cook,sautest,1,saute
56,2018-01-10,160,410059,2018-01-10 09:00:00,2018-01-10 16:00:00,2018-01-10 07:38:00,2018-01-10 12:00:00,Lunch,Line Cook1,Cook,saladst,1,salad
53,2018-01-10,160,399309,2018-01-10 16:00:00,2018-01-11 00:00:00,2018-01-10 16:00:00,2018-01-11 01:20:00,Dinner,Line Cook1,Cook,fryck,1,fry
50,2018-01-10,160,389281,2018-01-10 16:00:00,2018-01-10 23:30:00,2018-01-10 08:00:00,2018-01-10 15:12:00,Dinner,Line Cook1,Cook,grillck,1,grill / fry
49,2018-01-10,160,389281,2018-01-10 09:00:00,2018-01-10 16:00:00,2018-01-10 08:00:00,2018-01-10 15:12:00,Lunch,Line Cook1,Cook,broilck,1,broil / app
47,2018-01-10,160,389281,2018-01-10 09:00:00,2018-01-10 16:00:00,2018-01-10 08:00:00,2018-01-10 00:40:00,Lunch,Line Cook1,Cook,broilck,1,broil / app
37,2018-01-10,160,353644,2018-01-10 08:00:00,2018-01-10 14:00:00,2018-01-10 08:00:00,2018-01-10 15:00:00,Lunch,Prep Cook,Prep,saladpr,1,salad
32,2018-01-10,160,332344,2018-01-10 16:00:00,2018-01-10 23:45:00,2018-01-10 16:02:00,2018-01-11 00:35:00,Dinner,Line Cook1,Cook,sautest,1,saute
48,2018-01-10,160,389281,2018-01-10 16:00:00,2018-01-10 23:30:00,2018-01-10 08:00:00,2018-01-10 00:40:00,Dinner,Line Cook1,Cook,grillck,1,grill / fry
28,2018-01-10,160,318626,2018-01-10 09:00:00,2018-01-10 13:00:00,2018-01-10 10:00:00,2018-01-10 12:19:00,Lunch,Line Cook1,Cook,fryck,1,fry
24,2018-01-10,160,301294,2018-01-10 16:00:00,2018-01-10 23:45:00,2018-01-10 15:57:00,2018-01-11 00:04:00,Dinner,Line Cook1,Cook,pastast,1,pasta / saute
23,2018-01-10,160,301268,2018-01-10 16:00:00,2018-01-10 23:30:00,2018-01-10 15:59:00,2018-01-11 00:39:00,Dinner,Line Cook1,Cook,broilck,1,broil / app
8,2018-01-10,160,31030955,2018-01-10 16:00:00,2018-01-10 20:00:00,2018-01-10 09:49:00,2018-01-10 22:03:00,Dinner,Line Cook1,Cook,saladst,1,salad
7,2018-01-10,160,31030662,2018-01-10 09:00:00,2018-01-10 13:00:00,2018-01-10 09:03:00,2018-01-10 16:00:00,Lunch,Line Cook1,Cook,pizzast,1,pizza
6,2018-01-10,160,30140752,2018-01-10 18:00:00,2018-01-10 23:45:00,2018-01-10 17:58:00,2018-01-11 00:17:00,Dinner,Line Cook1,Cook,pizzast,1,pizza
5,2018-01-10,160,194575,2018-01-10 09:30:00,2018-01-10 13:00:00,2018-01-10 08:00:00,2018-01-10 18:04:00,Lunch,Line Cook1,Cook,grillck,1,grill / fry
29,2018-01-10,160,318626,2018-01-10 09:00:00,2018-01-10 13:00:00,2018-01-10 10:00:00,2018-01-10 12:45:00,Lunch,Line Cook1,Cook,fryck,1,fry
100,2018-01-11,160,332344,2018-01-11 16:00:00,2018-01-11 23:30:00,2018-01-11 16:02:00,2018-01-12 00:30:00,Dinner,Line Cook1,Cook,broilck,1,broil / app
103,2018-01-11,160,342116,2018-01-11 08:00:00,2018-01-11 14:00:00,2018-01-11 07:00:00,2018-01-11 14:10:00,Lunch,Prep Cook,Prep,saladpr,1,salad
108,2018-01-11,160,369128,2018-01-11 09:00:00,2018-01-11 13:00:00,2018-01-11 09:30:00,2018-01-11 13:00:00,Lunch,Line Cook1,Cook,pizzast,1,pizza
124,2018-01-11,160,410059,2018-01-11 09:00:00,2018-01-11 16:00:00,2018-01-11 09:00:00,2018-01-11 17:03:00,Lunch,Line Cook1,Cook,saladst,1,salad
117,2018-01-11,160,401739,2018-01-11 17:00:00,2018-01-11 21:00:00,2018-01-11 16:59:00,2018-01-11 21:03:00,Dinner,Line Cook1,Cook,pizzast,1,pizza
123,2018-01-11,160,410059,2018-01-11 09:00:00,2018-01-11 16:00:00,2018-01-11 05:45:00,2018-01-11 17:03:00,Lunch,Line Cook1,Cook,saladst,1,salad
96,2018-01-11,160,318626,2018-01-11 09:00:00,2018-01-11 13:00:00,2018-01-11 09:45:00,2018-01-11 13:05:00,Lunch,Line Cook1,Cook,fryck,1,fry
112,2018-01-11,160,384703,2018-01-11 16:00:00,2018-01-11 23:45:00,2018-01-11 15:59:00,2018-01-12 00:13:00,Dinner,Line Cook1,Cook,pastast,1,pasta / saute
89,2018-01-11,160,301268,2018-01-11 16:00:00,2018-01-11 23:30:00,2018-01-11 16:00:00,2018-01-12 00:54:00,Dinner,Line Cook1,Cook,grillck,1,grill / fry
75,2018-01-11,160,30160541,2018-01-11 16:00:00,2018-01-12 00:00:00,2018-01-11 16:23:00,2018-01-12 00:27:00,Dinner,Line Cook1,Cook,fryck,1,fry
79,2018-01-11,160,31490458,2018-01-11 08:00:00,2018-01-11 16:00:00,2018-01-11 14:20:00,2018-01-11 14:20:00,Lunch,Line Cook1,Cook,grillck,1,grill / fry
85,2018-01-11,160,300556,2018-01-11 09:00:00,2018-01-11 16:00:00,2018-01-11 09:00:00,2018-01-11 16:23:00,Lunch,Line Cook1,Cook,broilck,1,broil / app
72,2018-01-11,160,194575,2018-01-11 09:30:00,2018-01-11 13:00:00,2018-01-11 09:30:00,2018-01-11 16:23:00,Lunch,Line Cook1,Cook,grillck,1,grill / fry
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11915,2019-07-09,160,300556,2019-07-09 09:00:00,2019-07-09 16:00:00,2019-07-09 08:20:00,2019-07-09 15:04:00,Lunch,Line Cook1,Cook,broilck,1,broil / app
11908,2019-07-09,160,30160541,2019-07-09 16:00:00,2019-07-09 23:45:00,2019-07-09 16:26:00,2019-07-10 00:04:00,Dinner,Line Cook1,Cook,grillck,1,grill / fry
11907,2019-07-09,160,30140752,2019-07-09 16:00:00,2019-07-10 00:00:00,2019-07-09 18:02:00,2019-07-10 00:12:00,Dinner,Line Cook1,Cook,pizzast,1,pizza
11930,2019-07-09,160,353644,2019-07-09 08:00:00,2019-07-09 13:00:00,2019-07-09 08:00:00,2019-07-09 12:56:00,Lunch,Prep Cook,Prep,saladpr,1,salad
12007,2019-07-10,160,389281,2019-07-10 16:00:00,2019-07-10 23:45:00,2019-07-10 09:00:00,2019-07-11 00:33:00,Dinner,Line Cook1,Cook,broilck,1,broil / app
12027,2019-07-10,160,445930,2019-07-10 16:00:00,2019-07-10 23:45:00,2019-07-10 15:59:00,2019-07-10 23:44:00,Dinner,Line Cook1,Cook,grillck,1,grill / fry
12022,2019-07-10,160,438133,2019-07-10 09:00:00,2019-07-10 16:00:00,2019-07-10 08:12:00,2019-07-10 16:23:00,Lunch,Line Cook1,Cook,saladst,1,salad
12021,2019-07-10,160,434912,2019-07-10 08:00:00,2019-07-10 14:00:00,2019-07-10 08:00:00,2019-07-10 16:00:00,Lunch,Prep Cook,Prep,saladpr,1,salad
12018,2019-07-10,160,430495,2019-07-10 16:00:00,2019-07-10 23:45:00,2019-07-10 16:00:00,2019-07-11 00:44:00,Dinner,Line Cook1,Cook,sautest,1,saute
12006,2019-07-10,160,389281,2019-07-10 09:00:00,2019-07-10 16:00:00,2019-07-10 09:00:00,2019-07-11 00:33:00,Lunch,Line Cook1,Cook,broilck,1,broil / app
11982,2019-07-10,160,149048,2019-07-10 09:00:00,2019-07-10 16:00:00,2019-07-10 08:39:00,2019-07-10 16:12:00,Lunch,Line Cook1,Cook,sautest,1,saute
11997,2019-07-10,160,332344,2019-07-10 09:30:00,2019-07-10 16:00:00,2019-07-10 09:31:00,2019-07-10 16:08:00,Lunch,Line Cook1,Cook,pastast,1,pasta / saute
11994,2019-07-10,160,302169,2019-07-10 09:00:00,2019-07-10 14:00:00,2019-07-10 08:40:00,2019-07-10 14:22:00,Lunch,Line Cook1,Cook,grillck,1,grill / fry
11986,2019-07-10,160,31030662,2019-07-10 09:00:00,2019-07-10 13:00:00,2019-07-10 09:00:00,2019-07-10 14:22:00,Lunch,Line Cook1,Cook,pizzast,1,pizza
11983,2019-07-10,160,30140752,2019-07-10 17:00:00,2019-07-11 00:00:00,2019-07-10 17:00:00,2019-07-11 00:21:00,Dinner,Line Cook1,Cook,pizzast,1,pizza
12004,2019-07-10,160,381908,2019-07-10 16:00:00,2019-07-11 00:00:00,2019-07-10 16:00:00,2019-07-11 00:47:00,Dinner,Line Cook1,Cook,fryck,1,fry
12111,2019-07-11,160,460202,2019-07-11 09:30:00,2019-07-11 16:00:00,2019-07-11 08:00:00,2019-07-11 16:04:00,Lunch,Line Cook1,Cook,pastast,1,pasta / saute
12110,2019-07-11,160,456836,2019-07-11 16:00:00,2019-07-12 00:00:00,2019-07-11 15:58:00,2019-07-12 00:26:00,Dinner,Line Cook1,Cook,fryck,1,fry
12098,2019-07-11,160,442117,2019-07-11 16:00:00,2019-07-11 23:45:00,2019-07-11 16:00:00,2019-07-11 23:54:00,Dinner,Line Cook1,Cook,grillck,1,grill / fry
12094,2019-07-11,160,427007,2019-07-11 16:00:00,2019-07-11 23:45:00,2019-07-11 16:50:00,2019-07-11 23:39:00,Dinner,Line Cook1,Cook,pastast,1,pasta / saute
12092,2019-07-11,160,424074,2019-07-11 09:00:00,2019-07-11 14:00:00,2019-07-11 09:26:00,2019-07-11 14:30:00,Lunch,Line Cook1,Cook,grillck,1,grill / fry
12083,2019-07-11,160,393555,2019-07-11 16:00:00,2019-07-12 00:00:00,2019-07-11 15:50:00,2019-07-11 23:49:00,Dinner,Line Cook1,Cook,pizzast,1,pizza
12074,2019-07-11,160,332344,2019-07-11 16:00:00,2019-07-11 23:45:00,2019-07-11 15:50:00,2019-07-12 00:23:00,Dinner,Line Cook1,Cook,sautest,1,saute
12067,2019-07-11,160,302169,2019-07-11 09:00:00,2019-07-11 16:00:00,2019-07-11 08:38:00,2019-07-11 21:21:00,Lunch,Line Cook1,Cook,saladst,1,salad
12064,2019-07-11,160,300556,2019-07-11 09:00:00,2019-07-11 16:00:00,2019-07-11 08:00:00,2019-07-11 16:08:00,Lunch,Line Cook1,Cook,broilck,1,broil / app
12056,2019-07-11,160,31030662,2019-07-11 08:00:00,2019-07-11 13:00:00,2019-07-11 08:34:00,2019-07-11 16:10:00,Lunch,Line Cook1,Cook,pizzast,1,pizza
12055,2019-07-11,160,149048,2019-07-11 09:00:00,2019-07-11 16:00:00,2019-07-11 08:39:00,2019-07-11 16:11:00,Lunch,Line Cook1,Cook,sautest,1,saute
12112,2019-07-11,160,461038,2019-07-11 16:00:00,2019-07-11 21:00:00,2019-07-11 15:50:00,2019-07-11 23:48:00,Dinner,Line Cook1,Cook,saladst,1,salad
12077,2019-07-11,160,353644,2019-07-11 08:00:00,2019-07-11 15:00:00,2019-07-11 07:58:00,2019-07-11 15:45:00,Lunch,Prep Cook,Prep,saladpr,1,salad
12113,2019-07-11,160,461046,2019-07-11 16:00:00,2019-07-11 23:45:00,2019-07-11 16:00:00,2019-07-12 00:01:00,Dinner,Line Cook1,Cook,broilck,1,broil / app

In [228]:
import sqlite3

In [ ]:
order = data.drop_duplicates(subset=['StoreKey','BusinessDate','CheckNum','OrderTimeMin'])[['StoreKey','BusinessDate','CheckNum','OrderStartDateTime','OrderTimeMin']]

In [247]:
labor['BusinessDate'].unique()

array(['2018-01-10T00:00:00.000000000', '2018-01-11T00:00:00.000000000',
       '2018-01-12T00:00:00.000000000', '2018-01-13T00:00:00.000000000',
       '2018-01-14T00:00:00.000000000', '2018-01-15T00:00:00.000000000',
       '2018-01-16T00:00:00.000000000', '2018-01-17T00:00:00.000000000',
       '2018-01-18T00:00:00.000000000', '2018-01-19T00:00:00.000000000',
       '2018-01-20T00:00:00.000000000', '2018-01-21T00:00:00.000000000',
       '2018-01-22T00:00:00.000000000', '2018-01-23T00:00:00.000000000',
       '2018-01-24T00:00:00.000000000', '2018-01-25T00:00:00.000000000',
       '2018-01-26T00:00:00.000000000', '2018-01-27T00:00:00.000000000',
       '2018-01-28T00:00:00.000000000', '2018-03-11T00:00:00.000000000',
       '2018-03-12T00:00:00.000000000', '2018-03-13T00:00:00.000000000',
       '2018-03-14T00:00:00.000000000', '2018-03-15T00:00:00.000000000',
       '2018-03-16T00:00:00.000000000', '2018-03-17T00:00:00.000000000',
       '2018-03-18T00:00:00.000000000', '2018-03-19T00:00:00.000000000',
       '2018-03-20T00:00:00.000000000', '2018-03-21T00:00:00.000000000',
       '2018-03-22T00:00:00.000000000', '2018-03-23T00:00:00.000000000',
       '2018-03-24T00:00:00.000000000', '2018-03-25T00:00:00.000000000',
       '2018-06-02T00:00:00.000000000', '2018-06-03T00:00:00.000000000',
       '2018-06-04T00:00:00.000000000', '2018-06-05T00:00:00.000000000',
       '2018-06-06T00:00:00.000000000', '2018-06-07T00:00:00.000000000',
       '2018-06-08T00:00:00.000000000', '2018-06-09T00:00:00.000000000',
       '2018-06-10T00:00:00.000000000', '2018-06-11T00:00:00.000000000',
       '2018-06-12T00:00:00.000000000', '2018-06-13T00:00:00.000000000',
       '2018-06-14T00:00:00.000000000', '2018-06-15T00:00:00.000000000',
       '2018-06-16T00:00:00.000000000', '2018-08-03T00:00:00.000000000',
       '2018-08-04T00:00:00.000000000', '2018-08-05T00:00:00.000000000',
       '2018-08-06T00:00:00.000000000', '2018-08-07T00:00:00.000000000',
       '2018-08-08T00:00:00.000000000', '2018-08-09T00:00:00.000000000',
       '2018-08-10T00:00:00.000000000', '2018-08-11T00:00:00.000000000',
       '2018-08-12T00:00:00.000000000', '2018-08-13T00:00:00.000000000',
       '2018-08-14T00:00:00.000000000', '2018-08-15T00:00:00.000000000',
       '2018-08-16T00:00:00.000000000', '2018-08-17T00:00:00.000000000',
       '2018-10-23T00:00:00.000000000', '2018-10-24T00:00:00.000000000',
       '2018-10-25T00:00:00.000000000', '2018-10-26T00:00:00.000000000',
       '2018-10-27T00:00:00.000000000', '2018-10-28T00:00:00.000000000',
       '2018-10-29T00:00:00.000000000', '2018-10-30T00:00:00.000000000',
       '2018-10-31T00:00:00.000000000', '2018-11-01T00:00:00.000000000',
       '2018-11-02T00:00:00.000000000', '2018-11-03T00:00:00.000000000',
       '2018-11-04T00:00:00.000000000', '2018-11-05T00:00:00.000000000',
       '2018-11-06T00:00:00.000000000', '2019-01-16T00:00:00.000000000',
       '2019-01-17T00:00:00.000000000', '2019-01-18T00:00:00.000000000',
       '2019-01-19T00:00:00.000000000', '2019-01-20T00:00:00.000000000',
       '2019-01-21T00:00:00.000000000', '2019-01-22T00:00:00.000000000',
       '2019-01-23T00:00:00.000000000', '2019-01-24T00:00:00.000000000',
       '2019-01-25T00:00:00.000000000', '2019-01-26T00:00:00.000000000',
       '2019-01-27T00:00:00.000000000', '2019-01-28T00:00:00.000000000',
       '2019-01-29T00:00:00.000000000', '2019-01-30T00:00:00.000000000',
       '2019-01-31T00:00:00.000000000', '2019-02-01T00:00:00.000000000',
       '2019-02-02T00:00:00.000000000', '2019-02-03T00:00:00.000000000',
       '2019-02-04T00:00:00.000000000', '2019-02-05T00:00:00.000000000',
       '2019-02-06T00:00:00.000000000', '2019-02-07T00:00:00.000000000',
       '2019-02-08T00:00:00.000000000', '2019-02-09T00:00:00.000000000',
       '2019-02-10T00:00:00.000000000', '2019-02-11T00:00:00.000000000',
       '2019-02-12T00:00:00.000000000', '2019-02-13T00:00:00.000000000',
       '2019-02-14T00:00:00.000000000', '2019-02-15T00:00:00.000000000',
       '2019-02-16T00:00:00.000000000', '2019-02-17T00:00:00.000000000',
       '2019-02-18T00:00:00.000000000', '2019-02-19T00:00:00.000000000',
       '2019-02-20T00:00:00.000000000', '2019-02-21T00:00:00.000000000',
       '2019-02-22T00:00:00.000000000', '2019-02-23T00:00:00.000000000',
       '2019-02-24T00:00:00.000000000', '2019-04-16T00:00:00.000000000',
       '2019-04-17T00:00:00.000000000', '2019-04-18T00:00:00.000000000',
       '2019-04-19T00:00:00.000000000', '2019-04-20T00:00:00.000000000',
       '2019-04-21T00:00:00.000000000', '2019-04-22T00:00:00.000000000',
       '2019-04-23T00:00:00.000000000', '2019-04-24T00:00:00.000000000',
       '2019-04-25T00:00:00.000000000', '2019-04-26T00:00:00.000000000',
       '2019-04-27T00:00:00.000000000', '2019-04-28T00:00:00.000000000',
       '2019-04-29T00:00:00.000000000', '2019-04-30T00:00:00.000000000',
       '2019-07-02T00:00:00.000000000', '2019-07-03T00:00:00.000000000',
       '2019-07-04T00:00:00.000000000', '2019-07-05T00:00:00.000000000',
       '2019-07-06T00:00:00.000000000', '2019-07-07T00:00:00.000000000',
       '2019-07-08T00:00:00.000000000', '2019-07-09T00:00:00.000000000',
       '2019-07-10T00:00:00.000000000', '2019-07-11T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [248]:
order['BusinessDate'].unique()

array(['2019-07-11T00:00:00.000000000', '2019-07-10T00:00:00.000000000',
       '2019-07-09T00:00:00.000000000', '2019-07-08T00:00:00.000000000',
       '2019-07-07T00:00:00.000000000', '2019-07-06T00:00:00.000000000',
       '2019-07-05T00:00:00.000000000', '2019-07-04T00:00:00.000000000',
       '2019-07-03T00:00:00.000000000', '2019-07-02T00:00:00.000000000',
       '2019-07-01T00:00:00.000000000', '2019-06-28T00:00:00.000000000',
       '2019-06-27T00:00:00.000000000', '2019-06-26T00:00:00.000000000',
       '2019-06-25T00:00:00.000000000', '2019-06-24T00:00:00.000000000',
       '2019-06-23T00:00:00.000000000', '2019-06-22T00:00:00.000000000',
       '2019-06-21T00:00:00.000000000', '2019-06-20T00:00:00.000000000',
       '2019-06-19T00:00:00.000000000', '2019-06-18T00:00:00.000000000',
       '2019-06-17T00:00:00.000000000', '2019-06-16T00:00:00.000000000',
       '2019-06-15T00:00:00.000000000', '2019-06-14T00:00:00.000000000',
       '2019-06-13T00:00:00.000000000', '2019-06-12T00:00:00.000000000',
       '2019-06-11T00:00:00.000000000', '2019-06-10T00:00:00.000000000',
       '2019-06-09T00:00:00.000000000', '2019-06-08T00:00:00.000000000',
       '2019-06-07T00:00:00.000000000', '2019-06-06T00:00:00.000000000',
       '2019-06-05T00:00:00.000000000', '2019-06-04T00:00:00.000000000',
       '2019-06-03T00:00:00.000000000', '2019-06-02T00:00:00.000000000',
       '2019-06-01T00:00:00.000000000', '2019-05-31T00:00:00.000000000',
       '2019-05-30T00:00:00.000000000', '2019-05-29T00:00:00.000000000',
       '2019-05-28T00:00:00.000000000', '2019-05-27T00:00:00.000000000',
       '2019-05-26T00:00:00.000000000', '2019-05-25T00:00:00.000000000',
       '2019-05-24T00:00:00.000000000', '2019-05-23T00:00:00.000000000',
       '2019-05-22T00:00:00.000000000', '2019-05-21T00:00:00.000000000',
       '2019-05-20T00:00:00.000000000', '2019-05-19T00:00:00.000000000',
       '2019-05-18T00:00:00.000000000', '2019-05-17T00:00:00.000000000',
       '2019-05-16T00:00:00.000000000', '2019-05-15T00:00:00.000000000',
       '2019-05-14T00:00:00.000000000', '2019-05-13T00:00:00.000000000',
       '2019-05-12T00:00:00.000000000', '2019-05-11T00:00:00.000000000',
       '2019-05-10T00:00:00.000000000', '2019-05-09T00:00:00.000000000',
       '2019-05-08T00:00:00.000000000', '2019-05-07T00:00:00.000000000',
       '2019-05-06T00:00:00.000000000', '2019-05-05T00:00:00.000000000',
       '2019-05-04T00:00:00.000000000', '2019-05-03T00:00:00.000000000',
       '2019-05-02T00:00:00.000000000', '2019-05-01T00:00:00.000000000',
       '2019-04-30T00:00:00.000000000', '2019-04-29T00:00:00.000000000',
       '2019-04-28T00:00:00.000000000', '2019-04-27T00:00:00.000000000',
       '2019-04-26T00:00:00.000000000', '2019-04-25T00:00:00.000000000',
       '2019-04-24T00:00:00.000000000', '2019-04-23T00:00:00.000000000',
       '2019-04-22T00:00:00.000000000', '2019-04-21T00:00:00.000000000',
       '2019-04-20T00:00:00.000000000', '2019-04-19T00:00:00.000000000',
       '2019-04-18T00:00:00.000000000', '2019-04-17T00:00:00.000000000',
       '2019-04-16T00:00:00.000000000', '2019-04-15T00:00:00.000000000',
       '2019-04-14T00:00:00.000000000', '2019-04-13T00:00:00.000000000',
       '2019-04-12T00:00:00.000000000', '2019-04-11T00:00:00.000000000',
       '2019-04-10T00:00:00.000000000', '2019-04-09T00:00:00.000000000',
       '2019-04-08T00:00:00.000000000', '2019-04-07T00:00:00.000000000',
       '2019-04-06T00:00:00.000000000', '2019-04-05T00:00:00.000000000',
       '2019-04-04T00:00:00.000000000', '2019-04-03T00:00:00.000000000',
       '2019-04-02T00:00:00.000000000', '2019-04-01T00:00:00.000000000',
       '2019-03-31T00:00:00.000000000', '2019-03-30T00:00:00.000000000',
       '2019-03-29T00:00:00.000000000', '2019-03-28T00:00:00.000000000',
       '2019-03-27T00:00:00.000000000', '2019-03-26T00:00:00.000000000',
       '2019-03-25T00:00:00.000000000', '2019-03-24T00:00:00.000000000',
       '2019-03-23T00:00:00.000000000', '2019-03-22T00:00:00.000000000',
       '2019-03-21T00:00:00.000000000', '2019-03-20T00:00:00.000000000',
       '2019-03-19T00:00:00.000000000', '2019-03-18T00:00:00.000000000',
       '2019-03-17T00:00:00.000000000', '2019-03-16T00:00:00.000000000',
       '2019-03-15T00:00:00.000000000', '2019-03-14T00:00:00.000000000',
       '2019-03-13T00:00:00.000000000', '2019-03-12T00:00:00.000000000',
       '2019-03-11T00:00:00.000000000', '2019-03-10T00:00:00.000000000',
       '2019-03-09T00:00:00.000000000', '2019-03-08T00:00:00.000000000',
       '2019-03-07T00:00:00.000000000', '2019-03-06T00:00:00.000000000',
       '2019-03-05T00:00:00.000000000', '2019-03-04T00:00:00.000000000',
       '2019-03-03T00:00:00.000000000', '2019-03-02T00:00:00.000000000',
       '2019-03-01T00:00:00.000000000', '2019-02-28T00:00:00.000000000',
       '2019-02-27T00:00:00.000000000', '2019-02-26T00:00:00.000000000',
       '2019-02-25T00:00:00.000000000', '2019-02-24T00:00:00.000000000',
       '2019-02-23T00:00:00.000000000', '2019-02-22T00:00:00.000000000',
       '2019-02-21T00:00:00.000000000', '2019-02-20T00:00:00.000000000',
       '2019-02-19T00:00:00.000000000', '2019-02-18T00:00:00.000000000',
       '2019-02-17T00:00:00.000000000', '2019-02-16T00:00:00.000000000',
       '2019-02-15T00:00:00.000000000', '2019-02-14T00:00:00.000000000',
       '2019-02-13T00:00:00.000000000', '2019-02-12T00:00:00.000000000',
       '2019-02-11T00:00:00.000000000', '2019-02-10T00:00:00.000000000',
       '2019-02-09T00:00:00.000000000', '2019-02-08T00:00:00.000000000',
       '2019-02-07T00:00:00.000000000', '2019-02-06T00:00:00.000000000',
       '2019-02-05T00:00:00.000000000', '2019-02-04T00:00:00.000000000',
       '2019-02-03T00:00:00.000000000', '2019-02-02T00:00:00.000000000',
       '2019-02-01T00:00:00.000000000', '2019-01-31T00:00:00.000000000',
       '2019-01-30T00:00:00.000000000', '2019-01-29T00:00:00.000000000',
       '2019-01-28T00:00:00.000000000', '2019-01-27T00:00:00.000000000',
       '2019-01-26T00:00:00.000000000', '2019-01-25T00:00:00.000000000',
       '2019-01-24T00:00:00.000000000', '2019-01-23T00:00:00.000000000',
       '2019-01-22T00:00:00.000000000', '2019-01-21T00:00:00.000000000',
       '2019-01-20T00:00:00.000000000', '2019-01-19T00:00:00.000000000',
       '2019-01-18T00:00:00.000000000', '2019-01-17T00:00:00.000000000',
       '2019-01-16T00:00:00.000000000', '2019-01-15T00:00:00.000000000',
       '2019-01-14T00:00:00.000000000', '2019-01-13T00:00:00.000000000',
       '2019-01-12T00:00:00.000000000', '2019-01-11T00:00:00.000000000',
       '2019-01-10T00:00:00.000000000', '2019-01-09T00:00:00.000000000',
       '2019-01-08T00:00:00.000000000', '2019-01-07T00:00:00.000000000',
       '2019-01-06T00:00:00.000000000', '2019-01-05T00:00:00.000000000',
       '2019-01-04T00:00:00.000000000', '2019-01-03T00:00:00.000000000',
       '2019-01-02T00:00:00.000000000', '2019-01-01T00:00:00.000000000',
       '2018-12-31T00:00:00.000000000', '2018-12-30T00:00:00.000000000',
       '2018-12-29T00:00:00.000000000', '2018-12-28T00:00:00.000000000',
       '2018-12-27T00:00:00.000000000', '2018-12-26T00:00:00.000000000',
       '2018-12-25T00:00:00.000000000', '2018-12-24T00:00:00.000000000',
       '2018-12-23T00:00:00.000000000', '2018-12-22T00:00:00.000000000',
       '2018-12-21T00:00:00.000000000', '2018-12-20T00:00:00.000000000',
       '2018-12-19T00:00:00.000000000', '2018-12-18T00:00:00.000000000',
       '2018-12-17T00:00:00.000000000', '2018-12-16T00:00:00.000000000',
       '2018-12-15T00:00:00.000000000', '2018-12-14T00:00:00.000000000',
       '2018-12-13T00:00:00.000000000', '2018-12-12T00:00:00.000000000',
       '2018-12-11T00:00:00.000000000', '2018-12-10T00:00:00.000000000',
       '2018-12-09T00:00:00.000000000', '2018-12-08T00:00:00.000000000',
       '2018-12-07T00:00:00.000000000', '2018-12-06T00:00:00.000000000',
       '2018-12-04T00:00:00.000000000', '2018-12-03T00:00:00.000000000',
       '2018-12-02T00:00:00.000000000', '2018-12-01T00:00:00.000000000',
       '2018-11-30T00:00:00.000000000', '2018-11-29T00:00:00.000000000',
       '2018-11-28T00:00:00.000000000', '2018-11-27T00:00:00.000000000',
       '2018-11-26T00:00:00.000000000', '2018-11-25T00:00:00.000000000',
       '2018-11-24T00:00:00.000000000', '2018-11-23T00:00:00.000000000',
       '2018-11-22T00:00:00.000000000', '2018-11-21T00:00:00.000000000',
       '2018-11-20T00:00:00.000000000', '2018-11-19T00:00:00.000000000',
       '2018-11-18T00:00:00.000000000', '2018-11-17T00:00:00.000000000',
       '2018-11-16T00:00:00.000000000', '2018-11-15T00:00:00.000000000',
       '2018-11-14T00:00:00.000000000', '2018-11-13T00:00:00.000000000',
       '2018-11-12T00:00:00.000000000', '2018-11-11T00:00:00.000000000',
       '2018-11-10T00:00:00.000000000', '2018-11-09T00:00:00.000000000',
       '2018-11-08T00:00:00.000000000', '2018-11-07T00:00:00.000000000',
       '2018-11-06T00:00:00.000000000', '2018-11-05T00:00:00.000000000',
       '2018-11-04T00:00:00.000000000', '2018-11-03T00:00:00.000000000',
       '2018-11-02T00:00:00.000000000', '2018-11-01T00:00:00.000000000',
       '2018-10-31T00:00:00.000000000', '2018-10-30T00:00:00.000000000',
       '2018-10-29T00:00:00.000000000', '2018-10-28T00:00:00.000000000',
       '2018-10-27T00:00:00.000000000', '2018-10-26T00:00:00.000000000',
       '2018-10-25T00:00:00.000000000', '2018-10-24T00:00:00.000000000',
       '2018-10-23T00:00:00.000000000', '2018-10-22T00:00:00.000000000',
       '2018-10-21T00:00:00.000000000', '2018-10-20T00:00:00.000000000',
       '2018-10-19T00:00:00.000000000', '2018-10-18T00:00:00.000000000',
       '2018-10-17T00:00:00.000000000', '2018-10-16T00:00:00.000000000',
       '2018-10-15T00:00:00.000000000', '2018-10-14T00:00:00.000000000',
       '2018-10-13T00:00:00.000000000', '2018-10-12T00:00:00.000000000',
       '2018-10-11T00:00:00.000000000', '2018-10-10T00:00:00.000000000',
       '2018-10-09T00:00:00.000000000', '2018-10-08T00:00:00.000000000',
       '2018-10-07T00:00:00.000000000', '2018-10-06T00:00:00.000000000',
       '2018-10-05T00:00:00.000000000', '2018-10-04T00:00:00.000000000',
       '2018-10-03T00:00:00.000000000', '2018-10-02T00:00:00.000000000',
       '2018-10-01T00:00:00.000000000', '2018-09-30T00:00:00.000000000',
       '2018-09-29T00:00:00.000000000', '2018-09-28T00:00:00.000000000',
       '2018-09-27T00:00:00.000000000', '2018-09-26T00:00:00.000000000',
       '2018-09-25T00:00:00.000000000', '2018-09-24T00:00:00.000000000',
       '2018-09-23T00:00:00.000000000', '2018-09-22T00:00:00.000000000',
       '2018-09-21T00:00:00.000000000', '2018-09-20T00:00:00.000000000',
       '2018-09-19T00:00:00.000000000', '2018-09-18T00:00:00.000000000',
       '2018-09-17T00:00:00.000000000', '2018-09-16T00:00:00.000000000',
       '2018-09-15T00:00:00.000000000', '2018-09-14T00:00:00.000000000',
       '2018-09-13T00:00:00.000000000', '2018-09-12T00:00:00.000000000',
       '2018-09-11T00:00:00.000000000', '2018-09-10T00:00:00.000000000',
       '2018-09-09T00:00:00.000000000', '2018-09-08T00:00:00.000000000',
       '2018-09-07T00:00:00.000000000', '2018-09-06T00:00:00.000000000',
       '2018-09-05T00:00:00.000000000', '2018-09-04T00:00:00.000000000',
       '2018-09-03T00:00:00.000000000', '2018-09-02T00:00:00.000000000',
       '2018-09-01T00:00:00.000000000', '2018-08-31T00:00:00.000000000',
       '2018-08-29T00:00:00.000000000', '2018-08-28T00:00:00.000000000',
       '2018-08-27T00:00:00.000000000', '2018-08-26T00:00:00.000000000',
       '2018-08-25T00:00:00.000000000', '2018-08-24T00:00:00.000000000',
       '2018-08-23T00:00:00.000000000', '2018-08-22T00:00:00.000000000',
       '2018-08-21T00:00:00.000000000', '2018-08-20T00:00:00.000000000',
       '2018-08-19T00:00:00.000000000', '2018-08-18T00:00:00.000000000',
       '2018-08-17T00:00:00.000000000', '2018-08-16T00:00:00.000000000',
       '2018-08-15T00:00:00.000000000', '2018-08-14T00:00:00.000000000',
       '2018-08-13T00:00:00.000000000', '2018-08-12T00:00:00.000000000',
       '2018-08-11T00:00:00.000000000', '2018-08-10T00:00:00.000000000',
       '2018-08-09T00:00:00.000000000', '2018-08-08T00:00:00.000000000',
       '2018-08-07T00:00:00.000000000', '2018-08-06T00:00:00.000000000',
       '2018-08-05T00:00:00.000000000', '2018-08-04T00:00:00.000000000',
       '2018-08-03T00:00:00.000000000', '2018-08-02T00:00:00.000000000',
       '2018-08-01T00:00:00.000000000', '2018-07-31T00:00:00.000000000',
       '2018-07-30T00:00:00.000000000', '2018-07-29T00:00:00.000000000',
       '2018-07-28T00:00:00.000000000', '2018-07-27T00:00:00.000000000',
       '2018-07-26T00:00:00.000000000', '2018-07-25T00:00:00.000000000',
       '2018-07-24T00:00:00.000000000', '2018-07-23T00:00:00.000000000',
       '2018-07-22T00:00:00.000000000', '2018-07-21T00:00:00.000000000',
       '2018-07-20T00:00:00.000000000', '2018-07-19T00:00:00.000000000',
       '2018-07-18T00:00:00.000000000', '2018-07-17T00:00:00.000000000',
       '2018-07-16T00:00:00.000000000', '2018-07-15T00:00:00.000000000',
       '2018-07-14T00:00:00.000000000', '2018-07-13T00:00:00.000000000',
       '2018-07-12T00:00:00.000000000', '2018-07-11T00:00:00.000000000',
       '2018-07-10T00:00:00.000000000', '2018-07-09T00:00:00.000000000',
       '2018-07-08T00:00:00.000000000', '2018-07-07T00:00:00.000000000',
       '2018-07-06T00:00:00.000000000', '2018-07-05T00:00:00.000000000',
       '2018-07-04T00:00:00.000000000', '2018-07-03T00:00:00.000000000',
       '2018-07-02T00:00:00.000000000', '2018-07-01T00:00:00.000000000',
       '2018-06-30T00:00:00.000000000', '2018-06-29T00:00:00.000000000',
       '2018-06-28T00:00:00.000000000', '2018-06-27T00:00:00.000000000',
       '2018-06-26T00:00:00.000000000', '2018-06-25T00:00:00.000000000',
       '2018-06-24T00:00:00.000000000', '2018-06-23T00:00:00.000000000',
       '2018-06-22T00:00:00.000000000', '2018-06-21T00:00:00.000000000',
       '2018-06-20T00:00:00.000000000', '2018-06-19T00:00:00.000000000',
       '2018-06-18T00:00:00.000000000', '2018-06-17T00:00:00.000000000',
       '2018-06-16T00:00:00.000000000', '2018-06-15T00:00:00.000000000',
       '2018-06-14T00:00:00.000000000', '2018-06-13T00:00:00.000000000',
       '2018-06-12T00:00:00.000000000', '2018-06-11T00:00:00.000000000',
       '2018-06-10T00:00:00.000000000', '2018-06-09T00:00:00.000000000',
       '2018-06-08T00:00:00.000000000', '2018-06-07T00:00:00.000000000',
       '2018-06-06T00:00:00.000000000', '2018-06-05T00:00:00.000000000',
       '2018-06-04T00:00:00.000000000', '2018-06-03T00:00:00.000000000',
       '2018-06-02T00:00:00.000000000', '2018-06-01T00:00:00.000000000',
       '2018-05-31T00:00:00.000000000', '2018-05-30T00:00:00.000000000',
       '2018-05-29T00:00:00.000000000', '2018-05-28T00:00:00.000000000',
       '2018-05-27T00:00:00.000000000', '2018-05-26T00:00:00.000000000',
       '2018-05-25T00:00:00.000000000', '2018-05-24T00:00:00.000000000',
       '2018-05-23T00:00:00.000000000', '2018-05-22T00:00:00.000000000',
       '2018-05-21T00:00:00.000000000', '2018-05-20T00:00:00.000000000',
       '2018-05-19T00:00:00.000000000', '2018-05-18T00:00:00.000000000',
       '2018-05-17T00:00:00.000000000', '2018-05-16T00:00:00.000000000',
       '2018-05-15T00:00:00.000000000', '2018-05-14T00:00:00.000000000',
       '2018-05-13T00:00:00.000000000', '2018-05-12T00:00:00.000000000',
       '2018-05-11T00:00:00.000000000', '2018-05-10T00:00:00.000000000',
       '2018-05-09T00:00:00.000000000', '2018-05-08T00:00:00.000000000',
       '2018-05-07T00:00:00.000000000', '2018-05-06T00:00:00.000000000',
       '2018-05-05T00:00:00.000000000', '2018-05-04T00:00:00.000000000',
       '2018-05-03T00:00:00.000000000', '2018-05-02T00:00:00.000000000',
       '2018-05-01T00:00:00.000000000', '2018-04-30T00:00:00.000000000',
       '2018-04-29T00:00:00.000000000', '2018-04-28T00:00:00.000000000',
       '2018-04-27T00:00:00.000000000', '2018-04-26T00:00:00.000000000',
       '2018-04-25T00:00:00.000000000', '2018-04-24T00:00:00.000000000',
       '2018-04-23T00:00:00.000000000', '2018-04-22T00:00:00.000000000',
       '2018-04-21T00:00:00.000000000', '2018-04-20T00:00:00.000000000',
       '2018-04-19T00:00:00.000000000', '2018-04-18T00:00:00.000000000',
       '2018-04-17T00:00:00.000000000', '2018-04-16T00:00:00.000000000',
       '2018-04-15T00:00:00.000000000', '2018-04-14T00:00:00.000000000',
       '2018-04-13T00:00:00.000000000', '2018-04-12T00:00:00.000000000',
       '2018-04-11T00:00:00.000000000', '2018-04-10T00:00:00.000000000',
       '2018-04-09T00:00:00.000000000', '2018-04-08T00:00:00.000000000',
       '2018-04-07T00:00:00.000000000', '2018-04-06T00:00:00.000000000',
       '2018-04-05T00:00:00.000000000', '2018-04-04T00:00:00.000000000',
       '2018-04-03T00:00:00.000000000', '2018-04-02T00:00:00.000000000',
       '2018-04-01T00:00:00.000000000', '2018-03-31T00:00:00.000000000',
       '2018-03-30T00:00:00.000000000', '2018-03-29T00:00:00.000000000',
       '2018-03-28T00:00:00.000000000', '2018-03-27T00:00:00.000000000',
       '2018-03-26T00:00:00.000000000', '2018-03-25T00:00:00.000000000',
       '2018-03-24T00:00:00.000000000', '2018-03-23T00:00:00.000000000',
       '2018-03-22T00:00:00.000000000', '2018-03-21T00:00:00.000000000',
       '2018-03-20T00:00:00.000000000', '2018-03-19T00:00:00.000000000',
       '2018-03-18T00:00:00.000000000', '2018-03-17T00:00:00.000000000',
       '2018-03-16T00:00:00.000000000', '2018-03-15T00:00:00.000000000',
       '2018-03-14T00:00:00.000000000', '2018-03-13T00:00:00.000000000',
       '2018-03-12T00:00:00.000000000', '2018-03-11T00:00:00.000000000',
       '2018-03-10T00:00:00.000000000', '2018-03-09T00:00:00.000000000',
       '2018-03-08T00:00:00.000000000', '2018-03-07T00:00:00.000000000',
       '2018-03-06T00:00:00.000000000', '2018-03-05T00:00:00.000000000',
       '2018-03-04T00:00:00.000000000', '2018-03-03T00:00:00.000000000',
       '2018-03-02T00:00:00.000000000', '2018-03-01T00:00:00.000000000',
       '2018-02-28T00:00:00.000000000', '2018-02-27T00:00:00.000000000',
       '2018-02-26T00:00:00.000000000', '2018-02-25T00:00:00.000000000',
       '2018-02-24T00:00:00.000000000', '2018-02-23T00:00:00.000000000',
       '2018-02-22T00:00:00.000000000', '2018-02-21T00:00:00.000000000',
       '2018-02-20T00:00:00.000000000', '2018-02-19T00:00:00.000000000',
       '2018-02-18T00:00:00.000000000', '2018-02-17T00:00:00.000000000',
       '2018-02-16T00:00:00.000000000', '2018-02-15T00:00:00.000000000',
       '2018-02-14T00:00:00.000000000', '2018-02-13T00:00:00.000000000',
       '2018-02-12T00:00:00.000000000', '2018-02-11T00:00:00.000000000',
       '2018-02-10T00:00:00.000000000', '2018-02-09T00:00:00.000000000',
       '2018-02-08T00:00:00.000000000', '2018-02-07T00:00:00.000000000',
       '2018-02-06T00:00:00.000000000', '2018-02-05T00:00:00.000000000',
       '2018-02-04T00:00:00.000000000', '2018-02-03T00:00:00.000000000',
       '2018-02-02T00:00:00.000000000', '2018-02-01T00:00:00.000000000',
       '2018-01-31T00:00:00.000000000', '2018-01-30T00:00:00.000000000',
       '2018-01-29T00:00:00.000000000', '2018-01-28T00:00:00.000000000',
       '2018-01-27T00:00:00.000000000', '2018-01-26T00:00:00.000000000',
       '2018-01-25T00:00:00.000000000', '2018-01-24T00:00:00.000000000',
       '2018-01-23T00:00:00.000000000', '2018-01-22T00:00:00.000000000',
       '2018-01-21T00:00:00.000000000', '2018-01-20T00:00:00.000000000',
       '2018-01-19T00:00:00.000000000', '2018-01-18T00:00:00.000000000',
       '2018-01-17T00:00:00.000000000', '2018-01-16T00:00:00.000000000',
       '2018-01-15T00:00:00.000000000', '2018-01-14T00:00:00.000000000',
       '2018-01-13T00:00:00.000000000', '2018-01-12T00:00:00.000000000',
       '2018-01-11T00:00:00.000000000', '2018-01-10T00:00:00.000000000',
       '2018-01-09T00:00:00.000000000', '2018-01-08T00:00:00.000000000',

In [249]:
%%time
conn = sqlite3.connect(':memory:')
order.to_sql('ORDERS', conn, index=False)
labor.to_sql('LABOR', conn, index=False)

Wall time: 3.31 s

In [250]:
qry = '''
SELECT
ORDERS.BusinessDate, ORDERS.CheckNum, ORDERS.OrderTimeMin, LABOR.Station, COUNT(LABOR.EmployeeNum) 'EmpCount'
FROM ORDERS 
JOIN LABOR ON ORDERS.BusinessDate = LABOR.BusinessDate
	AND LABOR.ActualEnd > ORDERS.OrderStartDateTime
	AND LABOR.ActualStart <= ORDERS.OrderStartDateTime
GROUP BY ORDERS.BusinessDate, ORDERS.CheckNum, ORDERS.OrderTimeMin, LABOR.Station
'''

In [251]:
%%time
EmpCount = pd.read_sql_query(qry,conn)

Wall time: 10.2 s

In [252]:
EmpCount = EmpCount.groupby(['BusinessDate','CheckNum','OrderTimeMin','Station'])['EmpCount'].mean().unstack().reset_index().fillna(0)

In [253]:
EmpCount['BusinessDate'] = pd.to_datetime(EmpCount['BusinessDate'])
EmpCount['OrderTimeMin'] = pd.to_datetime(EmpCount['OrderTimeMin'])

In [259]:
data  = data.merge(right = EmpCount, how='left', on=['BusinessDate','CheckNum','OrderTimeMin'])

In [262]:
labor_st = [i for i in station_location if len(station_location[i])!=0]

In [264]:
data[labor_st] = data[labor_st].fillna(0)

In [265]:
data.to_csv('Store'+str(Store)+'\Store'+str(Store)+'_order_15-min-cluster_20180103-20190711.csv')

In [266]:
pd.isnull(data).sum()

StoreKey                 0
BusinessDate             0
TimeKey                  0
CheckNum                 0
GuestCount               0
TableOpenMinutes         0
ProductKey               0
CourseName               0
IXIName                  0
MajorCodeName            0
MinorCodeName            0
StationName              0
SentTime                 0
OrderStartDateTime       0
NormalDateTime           0
CookingDateTime        113
BumpedDateTime           0
NatHolidayDesc           0
EmployeeKey              0
TicketTime               0
RNK                      0
PROD_RNK                 0
ORDER_RNK                0
StationKey               0
DateKey                  0
TypeofServiceNum         0
ChannelKey               0
OpenHour                 0
OpenMinute               0
CloseHour                0
                      ...
HalfHourStart            0
QuarterHour              0
HalfHour                 0
Hour                     0
DayHalfHour              0
DayQuarterHour           0
DayOfWeek                0
DayOfWeekName            0
Week                     0
Weekday                  0
OrderTimeMin             0
Holiday                  0
GuestEst                 0
BumpedDateTime_fill      0
OnSiteOrder_fill         0
OffSiteOrder_fill        0
OnSiteItem_fill          0
OffSiteItem_fill         0
OnSiteGuest              0
OffSsiteItem             0
Class                    0
ItemPerGuest             0
OrderTime                0
broil / app              0
fry                      0
grill / fry              0
pasta / saute            0
pizza                    0
salad                    0
saute                    0
Length: 70, dtype: int64